@media(max-width: 550px){
    .contenido-central{
        width: 42rem;
    }
    .middle img{
        width: 18em;
    }
    .contenido-central_lenguaje{
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .contenido-central_descripcion{
        font-size: 1.2rem;
    }
}
@media(max-width: 480px){
    .contenido-superior{
        width: auto;
        min-width: 100%;
        height: 9rem;
        margin: 2rem 0 0;  /*x, y, separacion con el contenido de abajo*/
        display: flex;
        justify-content: center;
        align-items: center;
        order: 0;
    }
    .logoWik{
        display: initial; /*Para visualizarlo*/
        width: 57px;
        height: auto;
    }
    .slognas{
        display: inline-block;
        width: 17rem;
    }
    
    .wikipedia-figura-imagen{
        width: 100%;
        height: 3rem;
    }
    
    .wikipedia-slogan{
        font-size: 1.6rem;
        font-weight: 400; /*Grosor de las letras*/
        line-height: 2.5rem; /*Interlineado*/
    }
    .contenido-central{
        width: auto;
        height: auto;
        margin-top: 7rem;
        font-size: 1.3rem;
        text-align: left;  
        display: block;    
        padding: 0 2.5em; 
    }
    .contenido-central_lang{
        display: block;
        flex-wrap: wrap;
        float: left;
        position: relative;
        top: 0;
        left: auto;
        right: auto;
        box-sizing: border-box;
        height: 6.4rem;
        width: 33%;
        margin: 0 0 16px;
        padding: 0 1.6rem;
        text-align: center;
    }
    .middle{
        display: none;
    }
    .caja-buscador{
        display: flex;

        order: 1;
    }
}