:root{  /*Variables*/
    --color-titulos:#36c;
    --color-subtitulos: #54595d;
    --border-buscador: #72777d;
    --color-fondo-gris: #a2a9b1;
    --color-fondo-gris-masoscuro: #f8f9fa;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /*background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;*/
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
}

.principal{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
}

.section-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}

.section-principal .contenido-superior{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
}
.logoWik{
    display: none; /*Para ponerlo invisible*/
}
.slognas{
    display: inline-block;
    width: 17rem;
    text-align: center;
}

.wikipedia-figura-imagen{
    width: 100%;
    height: 3rem;
}

.wikipedia-slogan{
    font-size: 1.6rem;
    font-weight: 400; /*Grosor de las letras*/
    line-height: 3.5rem; /*Interlineado*/
}
.section-principal .contenido-superior{
    display: flex;
    flex-direction: row;
}

.contenido-central{
    display: grid;
    grid-template-columns: repeat(3, 11rem);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
}
.contenido-central_lang:hover{
    background: #EAECF0;
}

.contenido-central div{
    justify-self: center;
}
.contenido-central .middle{
    width: 13rem;
    height: 12rem;
    grid-column: 2/3;
    grid-row: 1/6;
    justify-self: center;
    display: block;
}
.contenido-central .logo_middle{
    width: 100%;
    height: 100%;
}

.contenido-central div:nth-child(2){
    justify-self: start;
    margin-right: 1.5rem;
}
.contenido-central div:nth-child(11){
    justify-self: start;
    margin-left: .5rem;

}
.contenido-central div:nth-child(5){
    justify-self: start;
    margin-left: .5rem;

}
.contenido-central div:nth-child(7){
    justify-self: end;
    margin-right: 1rem;

}
.contenido-central div:nth-child(3),
.contenido-central div:nth-child(8){
    margin-right: 1.5rem;

}
.contenido-central div:nth-child(4),
.contenido-central div:nth-child(9){
    margin-left: 2rem;

}
.contenido-central div:first-child{
    justify-self: end;

}
.contenido-central div:nth-child(10){
    justify-self: end;
    margin-right: .1rem;

}

.contenido-central_lenguaje{
    display: block;
    text-align: center;
    color: var(--color-titulos);
    font-size: 1.6rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.4rem;
}

.contenido-central_descripcion{
    display: block;
    text-align: center;
    color: var(--color-subtitulos);
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
}

.caja-buscador{
    width: 100%;
    max-width: 45.5rem;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2.5rem;
    border: 0;
}

.buscador{
    width: 100%;
    height: 4.4rem;
    padding: .8rem .2rem;
    border:  1px solid var(--color-fondo-gris);
    display: flex;  /*Posicionar elementos en una misma linea*/
    justify-content: center;
}

.buscador-texto{
    width: 80%;
    line-height: 2.5rem;
    border: 0;   /*No muestra un borde*/
    flex-shrink: 0;
    outline: none;
    padding: 0.8rem 1rem 0.8rem 1rem;
}

.buscador:active {
    border: 2px solid var(--color-titulos);
}

.abrir-lenguajes {
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 1rem;
}

.mostrar-lenguaje {
    justify-self: left;
    width: 1.5rem;
    font-size: 1.2rem;
    color: var(--color-subtitulos);

}

.icono {
    background-color: transparent;
    padding-left: .5rem;
    justify-self: right;
}

.fas {
    font-size: 20px;
    color: var(--color-subtitulos);
    font-weight: 600;
    line-height: 2.5rem;
}

.seleccionar-idioma{
    color: transparent;
    border: none;
    background-color: transparent;
    z-index: 1;
    position: absolute;
    outline: none;
}

.boton-buscar {
    width: 5.6rem;
    height: 4.4rem;
    background-color: var(--color-titulos);
    border: 1px solid var(--color-titulos);
    border-left: none;
}

.icon-lupa {
    color: #fff;
}

.container-boton-idiomas {
    width: 100%;
    max-width: 30rem;
    height: 4.6rem;
    padding: .6rem 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2.5rem;
    background-color: white;
}

.boton-idiomas {
    width: 100%;
    height: 3.6rem;
    padding: .6rem 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #36c;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 auto 2.5rem;
    border: 1px solid var(--color-fondo-gris);
    border-radius: 2px;
    background-image: url("./assets/language-icon.png");
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 3% 50%;
}

.boton-idiomas_lang {
    color: var(--color-titulos);
}

.boton-idiomas_texto {
    padding: 0 .8rem;
}

.boton-idiomas_flecha {
    color: var(--color-titulos);
}

.container-boton-idiomas .lang-list_border {
    height: 1px;
    background-color: var(--color-fondo-gris);
    width: 33%;
    position: absolute;
    margin-bottom: 1.8rem;
    z-index: -1;
}



.separador {
    width: 98%;
    margin: 0 auto;
}



.footer {
    padding: 4.1rem 25px 1.28rem;
    display: flex;
    justify-content: center;
}

.footer-contenido {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 35rem 1fr repeat(9, 13.433rem);   /*Se hace las particiones, cuantas columnas*/
    grid-template-rows: repeat(4, 9rem);    /*Se hace las particiones, cuantas filas*/
}

.footer-fundacion {
    grid-column: 2 / 3;   /*Se asigna el lugar al contenedor*/
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-fundacion_icono {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
    margin-right: .5rem;   /*Margen derecho del contenedor icono*/
}

.footer-fundacion_icono-imagen {
    width: 100%;
    height: 100%;
}

.footer-fudacion_descripcion {
    color:  #54595d;
    font-size: 1.3rem;
}

.footer-aplicacion {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    background-color: var(--color-fondo-gris-masoscuro);
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    height: 22rem;
}

.footer-aplicacion_icono {
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    flex-shrink: 0;     /*flex-shrink: para la medida del elemento, entre mayor sea el valor que le asignemos se encoge mas*/
    margin: 1rem .5rem;
    border: 1px solid #d0d1d3;
}

.footer-aplicacion_icono-imagen {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.aplicacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aplicacion_titulo {
    font-size: 1.3rem;
    color: var(--color-subtitulos);
    margin: 1rem 0;
}

.aplicacion_descripcion {
    font-size: 1.3rem;
    color: var(--color-subtitulos);
    line-height: 2rem;  /*Interlineado*/
    max-width: 90%;  /*Tamaño maximo de anchura*/
}

.botones-descarga {
    max-width: 100%;
    margin-top: 2rem;
}

.botones_google-play {
    width: 13rem;
    height: 4rem;
    display: inline-block;
    margin-right: .5rem;
}

.botones_app-store {
    width: 12rem;
    height: 4rem;
    display: inline-block;
}

.botones-descarga_imagen {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.otro-proyecto {
    width: 100%;
    height: 9rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.otro-proyecto_icono {
    width: 5rem;
    height: 5rem;
    position: relative;
    bottom: 1rem;
    margin-right: .5rem;
    flex-shrink: 0;
}

.otro-proyecto_icono-imagen {
    width: 100%;
    height: 100%;
}

.proyecto {
    font-family: Arial, Helvetica, sans-serif;
}

.proyecto_titulo {
    color: var(--color-titulos);
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: .2px;  /*Espacio entre letras*/
}

.proyecto_descripcion {
    color: var(--color-subtitulos);
    font-size: 1.3rem;
}

.proyecto1 {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
}

.proyecto2 {
    grid-column: 7 / 10;
    grid-row: 1 / 2;
}

.proyecto3 {
    grid-column: 10 / 13;
    grid-row: 1 / 2;
}

.proyecto4 {
    grid-column: 4 / 7;
    grid-row: 2 / 3;
}

.proyecto5 {
    grid-column: 7 / 10;
    grid-row: 2 / 3;
}

.proyecto6 {
    grid-column: 10 / 13;
    grid-row: 2 / 3;
}

.proyecto7 {
    grid-column: 4 / 7;
    grid-row: 3 / 4;
}

.proyecto8 {
    grid-column: 7 / 10;
    grid-row: 3 / 4;
}

.proyecto9 {
    grid-column: 10 / 13;
    grid-row: 3 / 4;
}

.proyecto10 {
    grid-column: 4 / 7;
    grid-row: 4 / 5;
}

.proyecto11 {
    grid-column: 7 / 10;
    grid-row: 4 / 5;
}

.proyecto12 {
    grid-column: 10 / 13;
    grid-row: 4 / 5;
}

.separador2 {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.site-licence {
    text-align: center;
    width: 100%;
    color: var(--color-subtitulos);
    font-size: 1.7rem;
    height: 4rem;
}

.site-licence a {
    color: var(--color-titulos);
}

@media(max-width: 1630px) {
    .footer-contenido {
        grid-template-columns: 0.2fr 35rem 0.2fr repeat(9, 1fr);  /*Desaparece el scroll horizontal*/
    }
}

@media(max-width:850px) {
    .footer-contenido {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(5,9rem) 17rem;
    }

    .footer-aplicacion {
        height: 17rem;
    }

    .footer-fundacion {
        grid-column: 2 / 9;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
    }

    .footer-fudacion_descripcion {
        text-align: justify;
    }

    .proyecto1 {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .proyecto2 {
        grid-column: 4 / 7;
        grid-row: 2 / 3;
    }

    .proyecto3 {
        grid-column: 7 / 10;
        grid-row: 2 / 3;
    }

    .proyecto4 {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }

    .proyecto5 {
        grid-column: 4 / 7;
        grid-row: 3 / 4;
    }

    .proyecto6 {
        grid-column: 7 / 10;
        grid-row: 3 / 4;
    }

    .proyecto7 {
        grid-column: 1 / 4;
        grid-row: 4 / 5;
    }

    .proyecto8 {
        grid-column: 4 / 7;
        grid-row: 4 / 5;
    }

    .proyecto9 {
        grid-column: 7 / 10;
        grid-row: 4 / 5;
    }

    .proyecto10 {
        grid-column: 1 / 4;
        grid-row: 5 / 6;
    }

    .proyecto11 {
        grid-column: 4 / 7;
        grid-row: 5 / 6;
    }

    .proyecto12 {
        grid-column: 7 / 10;
        grid-row: 5 / 6;
    }

    .footer-aplicacion {
        grid-column: 1 / 10;
        grid-row: 6 / 7;
    }

    .footer-aplicacion {
        flex-direction: row;
        padding: 2rem;
        min-height: min-content;
        align-items: center;
    }

    .aplicacion {
        flex-direction: row;
        height: min-content;
    }

    .aplicacion_titulo {
        height: auto;
        max-height: 100%;
        margin: auto 1rem;
        width: 25%;
    }

    .aplicacion_descripcion {
        width: 60%;
        margin-right: 1rem;
    }

    .botones-descarga {
        margin: auto 0;
        width: min-content;
    }
}

@media(max-width: 600px) {
    .footer-aplicacion {
        padding: 1rem 0;
    }
}
